
*{box-sizing: border-box;}
#chic{background: #CBE32D}
#sush{background: #A8CD1B}
#beef{background: #74AFAD}


h1{text-align: center;}

.title {
	position: absolute;
	right: 0;
	top: 0;
	padding:  3px 3px 3px 3px;
	color:#3B3738;
	font-family: "Calibri"
}

.box {margin-bottom: 10px;
	position: relative;
	padding: 35px 10px 0 10px;
	overflow: auto;
	border: 1px solid #7E8F7C;
	height: auto;
	background: #FDF3E7;
}

#header-nav {

	background-color: #7E8F7C;
}

.webtitle {
	color: white;
	font-size: 2em;
}




