
*{box-sizing: border-box;}
#chic{background: #d59898}
#sush{background: #e5d198}
#beef{background: #c14543}

p{margin: 25px 0 0 0}

body{padding: 15px}

h1{text-align: center;}

.title {float: right;
border: 2px solid black;
padding:  3px 3px 3px 3px;
color:white;
font-family: "Calibri"}

.box {
	overflow: auto;
	border: 3px solid black;
	margin: 6px 3px 6px 3px;
	box-sizing: border-box;
	float: left;
	width: 300px;
	height: auto;
	background: gray;
	width: 31%
	
}

@media (min-width: 768px) and (max-width: 991px){
.tablet100{width: 100%;}
.tablet50{width: 48%;}
}

@media (max-width: 767px){

.box{width: 98%;
	clear: left;}
}